.app {
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  // .app__decorator
  &__decorator {
    position: absolute;
    border-radius: 50%;
    &:nth-child(1) {
      width: 1000px;
      height: 1000px;
      right: -250px;
      bottom: -500px;

      background: rgba($secondary, 0.2);
      filter: blur(200px);
    }
    &:nth-child(2) {
      width: 600px;
      height: 600px;
      left: -300px;
      bottom: -300px;

      background: rgba($primary, 0.2);
      filter: blur(200px);
    }
  }

  // .app__container

  &__container {
    position: relative;
    z-index: 10;
  }

  // .app__get

  &__get {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 48px 0;
    @media screen and (max-width: $xs) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .app__illustration

  &__illustration {
    position: absolute;
    bottom: -60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: $lg) {
      // bottom: -60%;
    }
    @media screen and (max-width: $md) {
      bottom: -50%;
    }
    @media screen and (max-width: $sm) {
      display: none;
    }
  }
}
