.hero {
  background: $dark;
  position: relative;
  overflow: hidden;

  // .hero__decorator

  &__decorator {
    position: absolute;
    border-radius: 50%;
    &:nth-child(1) {
      width: 668px;
      height: 668px;
      left: -212px;
      top: -232px;

      background: rgba($secondary, 0.2);
      filter: blur(250px);
    }
    &:nth-child(2) {
      width: 668px;
      height: 668px;
      bottom: -334px;
      right: -334px;

      background: rgba($primary, 0.2);
      filter: blur(250px);
    }
  }

  // .hero__container

  &__container {
    position: relative;
    min-height: 100vh;
    padding-top: 180px;
    padding-right: 30%;
    .button {
      position: relative;
      z-index: 2;
    }
    @media screen and (max-width: $md) {
      padding-right: 20%;
    }
    @media screen and (max-width: $sm) {
      padding-right: 0;
      padding-top: 120px;
    }
  }

  // .hero__title

  &__title {
    color: $white;
  }

  // .hero__description

  &__description {
    margin: 24px 0 48px 0;
  }

  // .hero__illustration

  &__illustration {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    @media screen and (max-width: $lg) {
      top: 50vh;
      width: 100%;
    }
    @media screen and (max-width: $md) {
      top: inherit;
      bottom: 0;
    }
    @media screen and (max-width: $xs) {
      display: none;
    }
  }
}
