<header class="header">
	<div class="container header__container">
		<a href="#" class="header__logo logo"> Logo </a>
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a href="#" class="nav__link nav__link_active">Home</a>
				</li>
				<li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Portfolio</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
			</ul>
		</nav>
		<button class="header__burger">
			<span></span><span></span><span></span>
		</button>
	</div>
</header>
